*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:Arial,sans-serif;
}
header{
    background-color:#152c4d;
    color:white;
    text-align:center;
    padding:20px;
}
section{
    padding:60px 10%;
    text-align:center;
}
#about p{
    max-width:700px;
    margin:auto;
}